<% module_namespacing do -%>
module API
  module V<%= options['version'] %>
    module <%= file_name.camelcase %>
      module Contract
        class Update < Base
        end
      end
    end
  end
end
<% end -%>
