<% module_namespacing do -%>
module API
  module V<%= options['version'] %>
    module <%= file_name.camelcase %>
      module Decorator
        class Instance < Pragma::Decorator::Base
          include Pragma::Decorator::Type
        end
      end
    end
  end
end
<% end -%>
